<div class="constainer fadeIn animated fast">
    <div class="card text-center">
        <div class="card-header">
            e-commerce
        </div>
        <div class="card-body">
            <div class="shadow-lg p-3 mb-5 bg-white text-center">
                <div class="card text-white bg-success mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Compra Exitosa</h5>
                        <p class="card-text">¡Gracias por visitarnos y hacer su compra! Estamos contentos de que haya encontrado lo que estaba buscando. Nuestro objetivo es que siempre esté satisfecho, así que avísenos si su nivel de satisfacción. Esperamos volver a verle
                            de nuevo. ¡Que tengas un gran día!</p>
                    </div>
                </div>

            </div>
            <button [routerLink]="['/Home']" type="button" class="btn btn-outline-success my-2 my-sm-0 colorBtn" data-dismiss="modal">Gracias!</button>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>